.wrapper {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    max-width: var(--max-width);
    width: 90%;
    margin-inline: auto;
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 50px;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;
}

.navItem {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &>a {
        font-size: 16px;
    }
}

.phone {
    color: black;
    white-space: nowrap;
}