@use '../../../app/responsive.scss' as adaptive;

.wrapper {
    background-color: black;
    min-height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 80px;
}

.title {
    font-size: 5vw;
    font-weight: 700;

    margin-bottom: 6px;
}

@media screen and (max-width: adaptive.$sm) {
    .title {
        font-size: 7vw;
    }
}

.subTitle {
    font-size: 25px;
    font-weight: 300;
    text-align: center;

    margin-bottom: 32px;
}

.byButton {
    border: 1px solid white;
    border-radius: 10px;
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 100;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}