.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.leftSide {
    display: flex;
    align-items: center;

    &>button {
        padding-block: 4px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 8px;

    &>button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.search {
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 0;
}

.navItem {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.nav {
    display: flex;
    gap: 20px;
}

.phone {
    color: black;
}


.slider {

    display: flex;
    flex-direction: column;

    z-index: 100;

    transform: translateX(-100vw);
    transition: transform 0.3s;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;

    &>.divider {
        margin-inline: 20px;
        height: 1px;
        background-color: #D9D9D9;
    }

    &>nav {
        padding: 20px;
        gap: 13px 36px;
        display: flex;
        flex-wrap: wrap;

        &>a {
            font-size: 16px;
            font-weight: 400;
            color: #747474;
            text-decoration: none;
        }
    }

    &>.categories {
        padding: 20px;
        gap: 13px 36px;
        display: flex;
        flex-wrap: wrap;
    }

    &>.categories>a {
        font-weight: 500;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }

    &>button {
        align-self: flex-end;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
}

.slider.active {
    transform: translateX(0);
}

.contacts {
    padding: 20px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;

    &>a {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        text-decoration-line: underline;
    }
}

.sm {
    display: flex;
    gap: 20px;

    &>a {
        color: #747474;
        font-size: 16px;
        font-weight: 400;
        text-decoration-line: underline;
    }
}