@use '../../app/responsive.scss' as adaptive;

.wrapper {
    display: flex;
    padding: 60px;
    border-radius: 22px;
    background-color: white;
    width: 100%;
    margin-inline: auto;
}

@media screen and (max-width: adaptive.$md) {
    .wrapper {
        flex-direction: column;
    }

    .main {
        margin-top: 30px;
    }
}

.carousel {
    position: relative;
    width: 350px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10px;

    &>button {
        z-index: 2;
    }

    &>.imagesWrapper {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;

        &>.images {
            max-height: 100%;
            display: flex;
            gap: 20px;
            transition: transform 0.3s ease;
            margin-block: auto;

            &>img {
                object-fit: contain;
            }
        }
    }
}


.main {
    width: 100%;
    flex-shrink: 10;
    margin-left: 6vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    max-width: 80%;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}

.desc {
    max-width: 80%;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &>p {
        font-size: 20px;
        font-weight: 600;
    }
}

.arrows {
    padding: 6px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.arrow {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.arrowRight {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: transform .2s;
    transform: scale(1) rotateZ(180deg);
    &:hover {
        transform: scale(1.05) rotateZ(180deg);
    }
    &:active {
        transform: scale(0.95) rotateZ(180deg);
    }
}

.configuraion {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;

    &>div>p {
        margin-bottom: 10px;
    }
}

.toCart {
    padding: 14px 17px 14px 61px;
    display: flex;
    gap: 22px;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 0.8px solid #000;

    transition: transform .2s;
    transform: scale(1);

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}


@media screen and (max-width: adaptive.$sm) {
    .wrapper {
        padding: 23px;
    }

    .configuraion {
        flex-direction: column;
    }

    .carousel {
        width: 100%;
        gap: 23px;
    }

    .main {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .name {
        max-width: 100%;
        font-size: 24px;
    }

    .desc {
        max-width: 100%;
        font-size: 14px;
    }

    .carousel {
        &>.imagesWrapper {
            &>.images {
                &>img {
                }
            }
        }
    }
}





.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter {
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #B9B9B9;
    cursor: pointer;

    transition: transform .2s;
    transform: scale(1);

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.selected {
    border: 1px solid #000;
}






.colorFilters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.colorFilter {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .2s;
    transform: scale(1);

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }

    .rollingStick {
        display: none;
    }

    &.selected {
        border: 1px solid #6b6b6b;
        .rollingStick {
            display: block;
        }
    }
}

@media screen and (max-width: adaptive.$sm) {
    .colorFilter {
        width: 28px;
        height: 28px;
    }
}


.dots {

    display: flex;
    gap: 5px;

    &>div {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #B9B9B9;
        transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &.active {
            background-color: black;
            transform: scale(1.2);
        }
    }
}