@use '../../app/responsive.scss' as adaptive;

.wrapper {
    max-width: var(--max-width);
    width: 90%;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &>div {
        background-color: #F1F1F1;
        border-radius: 22px;
        padding: 30px;

        &>img {
            margin-bottom: 34px;
        }

        &>h3 {
            margin-bottom: 12px;
        }
    }
}

@media screen and (max-width: adaptive.$md) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: adaptive.$sm) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

.ttl {
    font-size: 40px;
}

@media screen and (max-width: adaptive.$sm) {
    .ttl {
        font-size: 28px;
    }
}