@use '../../responsive.scss' as adaptive;

.header {
    max-width: var(--max-width);
    width: 90%;
    margin-inline: auto;
    padding-block: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    max-width: var(--max-width);
    width: 90%;
    margin-inline: auto;
}

@media screen and (max-width: adaptive.$sm) {
    .header {
        flex-direction: column;
        gap: 20px;
    }
}