@use '../../../app/responsive.scss' as adaptive;

.wrapper {
    max-width: 1920px;
    width: 90%;
    margin-inline: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 95px 45px;
    font-size: clamp(10px, 3.5vw, 50px);
    gap: 8px;
}

@media screen and (max-width: adaptive.$md) {
    .title {
        font-size: 4vw;
    }
}

@media screen and (max-width: adaptive.$sm) {
    .title {
        padding-block: 35px 28px;
        flex-direction: column;
        text-align: center;
        font-size: 7vw;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

    &>div {
        background-color: #F1F1F1;
        border-radius: 22px;
        padding: 60px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>h5 {
            font-size: 35px;
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: adaptive.$sm) {
    .main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: adaptive.$sm) {
    .main {
        &>div {
            padding: calc(var(--padding) * 7);
        }
    }
}

.viewAll {
    display: flex;
    justify-content: center;
    padding: 40px;
    
    &>a {
        color: black;
    }
}