@use '../../../app/responsive.scss' as adaptive;

.wrapper {
    max-width: var(--max-width);
    width: 90%;
    margin-inline: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding-block: 65px;
    font-size: 40px;
}

@media screen and (max-width: adaptive.$sm) {
    .title {
        flex-direction: column;
        text-align: center;
        font-size: 28px;
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.benefit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    border-radius: 22px;
    background-color: #F1F1F1;

    &>img {
        margin-bottom: 22px;
    }

    &>h4 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    &>p {
        font-size: 20px;
        font-weight: 400;
    }
}

@media screen and (max-width: adaptive.$sm) {
    .benefits {
        grid-template-columns: 1fr;
    }

    .benefit {
        padding: calc(var(--padding) * 5);
        align-items: center;
        min-height: 300px;

        &>img {
            position: absolute;
        }

        &>h4 {
            font-size: 7vw;
            text-align: center;
        }

        &>p {
            font-size: 22px;
            text-align: center;
        }
    }

    .heart {
        content: url('/heart-op.svg');
    }

    .clock {
        content: url('/clock-op.svg');
    }

    .fire {
        content: url('/fire-op.svg');
    }
}