@use '../../../app/responsive.scss' as adaptive;

.wrapper {
    max-width: 90%;
    margin-inline: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    gap: 10px;

    padding-block: 65px;
}

@media screen and (max-width: adaptive.$md) {
    .title {
        font-size: 4vw;
    }
}

@media screen and (max-width: adaptive.$sm) {
    .title {
        font-size: 7vw;
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media screen and (max-width: adaptive.$sm) {
    .benefits {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding: 40px;
    border-radius: 22px;
    background-color: #F1F1F1;

    &>img {
        margin-bottom: 22px;
    }

    &>h4 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    &>p {
        font-size: 25px;
        font-weight: 400;
    }
}

@media screen and (max-width: adaptive.$sm) {
    .benefit {
        padding: calc(var(--padding) * 5);
        &>h4 {
            font-size: 6vw;
        }
        &>p {
            font-size: 20px;
        }
    }
}